/logs/*.log
/exp/*/
/inference/*.npz
/inference/*.mid
#!/inference/wzk.npz
/src_no_pos/
/src/*.jpg
/src/*.npz
!/src/midi2mp3.py
/src/metadata.json
/dataset/*.npz
/dataset/json_*/
/src/video2npz/VisBeatAssets/
/src/video2npz/image/*
/src/video2npz/examples/*
/src/video2npz/fig/*
/src/video2npz/flow/*
/src/video2npz/optical_flow/*

.DS_Store
__pycache__/
*.pt
.idea/
/new/
*.mp4
*.mp3
*.m4a
*.pyc
cookies.txt
metadata.json
*.sf2
