tqdm
urllib3==1.26.9
six==1.16.0
threadpoolctl==2.1.0
h5py==2.10.0
matplotlib==3.3.4
numpy
miditoolkit==0.1.15
muspy==0.4.0
scikit_learn==1.0
torch==1.9.0
pytorch-fast-transformers
opencv-python==4.5.3.56
scikit-video==1.1.11
pypianoroll
scipy
bs4
librosa==0.6.2
imageio==2.9.0
requests
moviepy==1.0.3
termcolor==1.1.0
youtube-dl==2021.12.17
numba==0.48.0
pretty_midi
pyfluidsynth==1.2.5
note_seq
midi2audio